.sidebar {
    max-width: 230px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    overflow-y: scroll;
}
.sidebar__container {
    list-style: none;
    display: flex;
}

.sidebar__container--list {
    list-style: none;
    padding-left: 20px;
}
.sidebar__container--list--item {
    text-align: left;
    color: white;
    padding: 10px;
    margin: 0;
}
.sidebar__container--list--item > span {
    margin-left: 20px;
}
